Project/.vs/Intro C++/FileContentIndex/391c5255-3358-4d06-811f-a38c6405145a.vsidx
Project/.vs/Intro C++/FileContentIndex/bf144fe0-409a-4a0d-a179-f7d8cdfb17e9.vsidx
Project/.vs/Intro C++/FileContentIndex/edadd583-ba97-4770-8b50-4334431840a9.vsidx
Project/.vs/Intro C++/FileContentIndex/f883dd85-576c-4bdd-ab09-0a9d913938c6.vsidx
Project/.vs/Intro C++/v17/Browse.VC.db-wal
Project/.vs/Intro C++/FileContentIndex/340076b7-1f9d-4fa0-bc4c-ad4e80034923.vsidx
Project/.vs/Intro C++/v17/Browse.VC.db-wal
